#container{
    width: 80%;
    border-radius: 50px;
    height: 800px;
    background-color: aqua;
    margin-left: 10%;
    display: flex;
    justify-content: space-around;
}

#formular{
    width: 45%;
    height: 50%;
   background-color: rgb(247, 242, 242);
    border-radius: 10px;
    
    border: 1px solid;
    padding: 26px;
    box-shadow: 5px 10px 18px #888888;
    
    margin: auto;
}

#lista{
    width: 45%;
    height: 90%;
    margin: auto;
    background-color: rgb(164, 222, 164);
    overflow: scroll;
    border-radius: 10px;
    border: 1px solid;
    
}

